/* FOOTER */
.site-footer {
    background-attachment: fixed;
    width: 1250px;
    height: 830px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/runners1.jpg);
    background-repeat: no-repeat;
    background-size: 1250px 830px;
    background-size: cover;
}

.footer-div {
    width: 490px;
    height: 351px;
    margin: 240px 0 0 510px;
}

.footer-p {
    margin: 30px 0;
    border-left: 3px solid #FFFFFF;
    height: 120px;
    padding-left: 38px;
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer-h2 {
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
}

.footer-btn {
    background-color: #EA625C;
    width: 260px;
    height: 51px;
    color: #FFF;
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    border: none;
}