ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* sect1 */
.sect1-p {
    border-left: 3px solid #888;
    height: 120px;
    padding-left: 38px;
    margin: 30px 0;
    color: #777;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.sect1-div {
    width: 490px;
    height: 291px;
    padding-top: 165px;
}

.sect1-h2 {
    color: #000;
    font-family: var(--fontFamily);
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
}

.sect1-btn {
    width: 260px;
    height: 51px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    background-color: #EA625C;
}

.sect-1 {
    height: 641px;
    background-image: url(../images/intro-bg.png);
    background-position: calc(50% + 530px) 74px;
    background-repeat: no-repeat;
    background-size: 587px 565px;
    border-bottom: 2px solid #DDDDDD;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .box {
        background: url(../images/intro-bg@2x.png) no-repeat;
        background-position: calc(50% + 530px) 74px;
        background-size: 587px 565px;
    }
}

/* sect2 */

.sect2-li-li {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    background-color: #DDD;
}

.sect2-li {
    width: 280px;
    height: 253px;
}

.sect2-ul {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}

.sect2-ul-ul {
    margin-top: 20px;
    display: flex;
}

.sect2-li-h2 {
    color: #222;
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.sect2-li-p {
    margin-top: 30px;
    color: #333;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
}

.learn-more {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.learn-more-spam {
    color: #EA625C;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    text-transform: uppercase;
}

.learn-more-div {
    margin-right: 10px;
    background-color: #EA625C;
    width: 38px;
    height: 3px;
}

/* sect3 start */
.sect-3 {
    padding: 70px 0;
}

.sect3-div {
    width: 490px;
    height: 387px;
    padding-top: 100px;
}

.sect3-p {
    margin: 30px 0;
    color: #777;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border-left: 3px solid #888;
    height: 96px;
    padding-left: 38px;
}

.sect3-wrapper {
    display: flex;
    justify-content: space-between;
}

.sect3-h2 {
    color: #000;
    font-family: var(--fontFamily);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.sect3-btn {
    width: 260px;
    height: 51px;
    background-color: #EA625C;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.sect3-hero-img {
    width: 400px;
    height: 600px;
}