@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

/* ROOT */
:root {
    --fontFamily: 'Roboto';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
    background-color: var(--backgroundPrimary);
    color: var(--colorPrimary);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.header-wrapper,
.header-nav-wrapper,
.header-ul {
    display: flex;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
}

.header-input {
    color: #666;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    border-color: transparent transparent black transparent;
    width: 153px;
    margin-left: 10px;
    padding-bottom: 2px;
    margin-bottom: 7px;
}


.header-li {
    margin-right: 30px;
}

.header-li-link {
    color: #333;
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}



.site-header {
    margin-top: 30px;
}

.header-logo-img {
    width: 35px;
    height: 42px;
}


/* FOOTER start */
.site-footer {
    background-attachment: fixed;
    width: 1250px;
    height: 830px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/runners1.jpg);
    background-repeat: no-repeat;
    background-size: 1250px 830px;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .box {
        background: url(../images/runners1@2x.jpg) no-repeat;
        background-position: calc(50% + 530px) 74px;
        background-size: 1250px 830px;
    }
}

.footer-div {
    width: 490px;
    height: 351px;
    margin: 240px 0 0 510px;
}

.footer-p {
    margin: 30px 0;
    border-left: 3px solid #FFFFFF;
    height: 120px;
    padding-left: 38px;
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer-h2 {
    color: #FFF;
    font-family: var(--fontFamily);
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
}

.footer-btn {
    background-color: #EA625C;
    width: 260px;
    height: 51px;
    color: #FFF;
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    border: none;
}